* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.header {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: white;
    height:70px;
    color: black;
}
.heading {
    background-color: black;
    margin-top: 10px;
    border-radius: 1rem;
    padding: 10px 30px;
    margin-bottom: 8px;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
}
.options {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
#rock {
    margin: 10px 20px;
    border: 1px solid black;
    height: 135px;
    width: 135px;
    border-radius: 100%;
    background-image: url(the_rock_img.jpeg);
    background-size: cover;
}
#paper {
    margin: 10px 20px;
    border: 1px solid black;
    height: 135px;
    width: 135px;
    border-radius: 100%;
    background-image: url(paper_img.jpeg);
    background-size: cover;
}
#scissors {
    margin: 10px 20px;
    border: 1px solid black;
    height: 135px;
    width: 135px;
    border-radius: 100%;
    background-image: url(scissor_img.jpeg);
    background-size: cover;
}
#rock:hover, #paper:hover, #scissors:hover {
    opacity: 0.9;
    padding: 7px 7px;
    transition: 0.4s;
    cursor: pointer;
    border: 3px solid white;
}
.super-score {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.score {
    height: 70px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    background-color: white;
    border-radius: 1rem;
}
#user-score, #comp-score {
    text-align: center;
}
.our {
    margin: 20px 30px;
    font-size: 1.5rem;
}
.computer {
    margin: 20px 30px;
    font-size: 1.5rem;
}
.result {
    display: flex;
    justify-content: center;
    align-items: center;
}
.result-show {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 1rem;
}
.result-text {
    color: white;
    font-size: 1.4rem;
}
